.sidebar {
	top: 60px;
	height: calc(100vh - 60px);
	left: -7vw;
	width: 7vw;
	min-width: 70px;
	z-index: 2;
	position: fixed;
	-moz-transition: left .2s;
	-webkit-transition: left .2s;
	transition: left .2s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font-family: sans-serif;
	background-color: rgb(70, 70, 70);
}

.toggle {
	position: absolute;
	left: 7vw;
	width: 20px;
	height: 100%;
	padding: 38vh 3px;
	margin: 0;
	background-color: black;
	color: white;
	font-size: 16px;
}

#slide {
	display: none;
}

#slide:checked + .sidebar {
	left: 0;
}

#slide:checked + .sidebar .toggle {
	left: 7vw;
}

.letter-array {
	display: block;
	margin: 0;
	padding: 0;
	height: 70%;
	width: 100%;
}

.letter-array-column {
	display: block;
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 0;
	float: left;
	outline: 0;
}

.letter-array-cell {
	height: 7.1%;
	overflow: hidden;
}

.letter-array-cell a {
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	padding-top: 1vh;
	font-size: 1.8vh;
	text-decoration: none;
	background-color: rgb(50, 50, 50);
	margin: 2px 2px 0 2px;
}

.letter-array-cell a:hover {
	background-color: rgb(204, 0, 102);
}

.letter-array-cell a:active {
	background-color: rgb(102, 0, 51);
}

.cursor-pointer {
	cursor: pointer;
	cursor: hand;
}

.unselectable {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 1080px){
	.sidebar {
		width: 70px;
		left: -70px;
	}
	.toggle {
		left: 70px;
	}
	
	#slide:checked + .sidebar .toggle {
		left: 70px;
	}
}